/* 
	
	Programmed by DestiNet Ltd 
	Copyright (c) 2003
	http://www.destinet.co.uk
	$ Version: 1.0 $
	$ Date: 22 JAN 2004 $
	
	
*/

/* GLOBAL */

body {	
	color: #000000;
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif, Verdana, Geneva;
	font-size: 12px;
}

#container {
	/* COMMENT BACK IN FOR BACKGROUND IMAGE
	background-image: url(/web/20141224232431im_/http://www2.powerlounge.co.uk/editsite/customers/1169/templates/css/white.gif);
	*/
}


h1 {
	color: #000000;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif, Verdana, Geneva;
	font-size: 16px;
	font-weight: bold; 
}

h2 {
	color: #ffffff;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif, Verdana, Geneva;
	font-size: 11px;
	font-weight: bold; 
}

p{
	padding: 0px;
	margin: 0px;
}

A {
	color: #666666;
}

A:link {
	text-decoration: underline;
}

A:visited {
	text-decoration: underline; 
}

A:hover {
	text-decoration: none; 
}

#headerblue {
	height: 40px;
	width: 100%; 
	background-color: #ffffff;
}

#mainnav{

		/*background-color: #999999;*/

}

#subcontent 
	{
		background-color: #e0e0e0;
}

#sitesearch{
	color: #336699;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif, Verdana, Geneva;
	font-size: 12px;
	font-weight: bold; 
}

.searchtxtfield{
	height: 20px;
	font-family: Arial, Helvetica, sans-serif, Verdana, Geneva;
	font-size: 11px;
}
.searchtxtbutton{
	height: 20px;
	width: 20px;
	font-family: Arial, Helvetica, sans-serif, Verdana, Geneva;
	font-size: 9px;
}

#pageident{
	color: #000000;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif, Verdana, Geneva;
	font-size: 22px;
	font-weight: bold; 
}

#pagetitle {
	color: #000000;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif, Verdana, Geneva;
	font-size: 16px;
	font-weight: bold; 
}

#pagepath {
	color: #666666;	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif, Verdana, Geneva;
	font-size: xx-small;
}

#pagecopy {
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}

#pagepath A {
	color: #666666;
}

#pagepath A:link {
	text-decoration: none;
}

#pagepath A:visited {
	text-decoration: none; 
}

#pagepath A:hover {
	text-decoration: underline; 
}

#contentheader 
	{
		background-color: #ffffff; 
	}

#subnav 
	{
		background-color: #ffffff; 
	}

div.submenuheader {
	font-size: 12px;
	border-top-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	width: 160px;
	height: 20px;
	background-color: #e0e0e0; 
	vertical-align: bottom;
	padding-top: 3px;
}

div.submenuheader A {
	color: #000000;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 7px;
}

div.submenuheader A:link {
	text-decoration: none;
}
div.submenuheader A:visited {
	text-decoration: none;
}

div.submenuheader A:hover {
	text-decoration: underline; 
	/* COMMENT BACK IN FOR ROLLOVER COLOUR
	background-color: #79BCFF;
	*/
	
}

#mainbodycontent{
	width:100%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin-bottom: 20px;
}


div.submenu {
	font-size: 12px;
	width: 160px;
	height: 20px;
	padding-bottom: 10px;
}

div.submenu A {
	color: #000000;
	background-image: url(/web/20141224232431im_/http://www2.powerlounge.co.uk/editsite/customers/1169/templates/css/smpoint.gif);
	background-repeat: no-repeat;
	background-position: 5px 6px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 15px;
}

div.submenu A:link {	 
	text-decoration: none; 
}
div.submenu A:visited { 
	text-decoration: none; 
}
div.submenu A:hover {
	text-decoration: underline; 
	/* COMMENT BACK IN FOR ROLLOVER COLOUR
	background-color: #f0f0f0;
	*/
}

/* FOOTER */

#footer {font-size: xx-small; padding: 0px; margin: 0px; text-align: right; margin-top: 5px; margin-bottom: 5px;}
#footer A:link {color: #000000; text-decoration: underline;}
#footer A:visited {color: #000000; text-decoration: underline;}
#footer A:hover {color: #000000; text-decoration: none;}

#subfooter1 {
	color: #ffffff;
	font-weight: bold; 
	padding: 5px; 
	margin: 0px; 
	height: 16px;
}

#subfooter2 {
	color: #ffffff;
	font-weight: bold; 
	padding: 5px; 
	margin: 0px; 
	height: 16px;
	text-align: right;
}

#subfooter1 A:link {color: #ffffff; text-decoration: none;}
#subfooter1 A:visited {color: #ffffff; text-decoration: none;}
#subfooter1 A:hover {color: #ffffff; text-decoration: underline;}

#subfooter2 A:link {color: #ffffff; text-decoration: none;}
#subfooter2 A:visited {color: #ffffff; text-decoration: none;}
#subfooter2 A:hover {color: #ffffff; text-decoration: underline;}

#datatable{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	vertical-align: top;
	padding: 3px;
}

#datatable th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #cccccc;
	vertical-align: top;
	padding: 3px;
}

#datatable td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #eeeeee;
	vertical-align: top;
	padding: 3px;
}

caption {	
	text-align: left;
	margin-top: 10px;
}

/*
     FILE ARCHIVED ON 23:24:31 Dec 24, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:32:16 Aug 19, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 192.454
  exclusion.robots: 0.273
  exclusion.robots.policy: 0.256
  cdx.remote: 0.131
  esindex: 0.016
  LoadShardBlock: 150.61 (3)
  PetaboxLoader3.datanode: 100.75 (4)
  CDXLines.iter: 24.105 (3)
  load_resource: 70.738
  PetaboxLoader3.resolve: 27.808
*/