/*
CSS Layout writen by D Curnow
*/	
body 
	{
		text-align:center;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
	
#container 
	{
		width:750px;
		height:100%;
		margin-right:auto;
		margin-left:auto;
		margin-top:0px;
		padding:0px;
		text-align: left;
	}
		
#contentheader 
	{
		width:750px;
		height:50px;
		padding:0px;
		margin:0px;
		text-align:left;
		float:left;
	}

#contentlogo 
	{
		padding:0px;
		margin:0px;
		text-align:left;
		vertical-align: middle;
		float:left;
	}
		
#mainnav 
	{
		width:750px;
		height:20px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		text-align:left;
		float:left;
	}
		
#subnav 
	{
		width:160px;
		padding-left:5px;
		padding-right:5px;
		margin:0px;
		float:left;
	}

#secsubbig{
		width:580px;
		padding-left:0px;
		margin-right: 0px;
		float:left;
		
	}

#secsub1{
		width:420px;
		padding:0px;
		margin:0px;
		float:left;
		
	}
#secsub2{
		width:160px;
		padding:0px;
		margin:0px;
		margin-bottom:20px;
		float:left;
	}
	
#secsublink{
		width:100%;
		padding:0px;
		margin:0px;
		margin-bottom:20px;
		float:left;
	}
#maincontent 
	{
		width:390px;
		padding:0px;
		margin:0px;
		float:left;
	}

#subcontentContainer
	{
		width:180px;
		padding:0px;
		float:left;
		text-align:center;
}
	
#subcontent 
	{
		width:180px;
		padding:10px;
		float:left;
}

#subfooter1 
	{
		width:365px;
		padding:5px;
		margin:0px;
		text-align:left;
		float:left;
	}
#subfooter2 
	{
		width:365px;
		padding:5px;
		margin:0px;
		text-align:left;
		float:left;
	}

#footer
	{
		width:750px;
		margin-left:0px;
		margin-right:0px;
		margin-top:5px;
		margin-bottom:20px;
		padding: 0px;
	}
	
#cleardiv
	{
		clear:both;
	}

.cleardiv
	{
		clear:both;
	}




/*
     FILE ARCHIVED ON 15:23:12 Nov 27, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:31:51 Aug 19, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 141.286
  exclusion.robots: 0.118
  exclusion.robots.policy: 0.111
  cdx.remote: 0.077
  esindex: 0.01
  LoadShardBlock: 89.159 (3)
  PetaboxLoader3.datanode: 564.34 (4)
  CDXLines.iter: 21.14 (3)
  load_resource: 588.534
  PetaboxLoader3.resolve: 83.438
*/