@font-face {font-family: "Tahoma"; src: url("/fonts/Tahoma-Regular-font.woff") format("woff"), url("/fonts/Tahoma-Regular-font.ttf") format("truetype");}

body {
    max-width:50rem;
    margin:auto;
    padding:2rem;

}
header {
    margin-top:15rem;

}
p, h1, h2, h3, h4, h5, a, input, label {
    font-family: Tahoma, Arial, sans-serif;
    text-align:center;
    color: #2B0E72;
}
header img {
    margin:auto;
    display:block;
}
main h1, main h2 {
    font-size:1.2rem;
}
main p.contact {
    font-size: 0.8rem;
}
main p.contact a {
    font-weight:bold;
}
footer {
    margin-top:5rem;
}
footer p {
    font-size:0.7rem;
    color:#000;
    text-align:right;

}


@media only screen and (max-width: 600px) {
    header {
        margin-top:5rem;
    }
    header img {
        max-width:300px;
        max-height:auto;

    }

}
